/* DEFINIMOS TEMPORALEMNTE PALETA DE COLORES, QUITAR ESTA SECCION AL FINAL */
#PALETA_DE_COLORES {
  color: #34495e #3498db #5fbaa7 #f5f7fa #ffffff;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;

  background-color: #f5f7fa;
  color: #000000;
}


/* #region HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: white;

  position: fixed;
  width: 100%;
  height: 90px;
  box-shadow: 0 6px 8px rgba(0,0,0, 0.10);

  z-index: 1;
}

#logo,
#contacto {
  display: flex;
  height: 55px;
  width: 55px;
  margin: 10px;
}

#logo,
#contacto > img {
  width: auto;
  padding: 5px;
}

nav {
  display: flex;
  align-items: center;
  height: 55px;
  font-size: 1.25rem;
}

nav ul {
  list-style: none;

  display: flex;
  justify-content: space-between;
}

nav li {
  padding: 1rem 2rem;
}

nav a {
  text-decoration: none;
  color: #34495e;
  font-weight: 600;
}

nav li:hover,
#contacto:hover {
  background-color: #f5f7fa;
  border-radius: 8px;
}

/* #endregion */


/* #region SECCIONES EN GENERAL */

section {
  scroll-margin-top:  90px;
  padding: 45px 90px;
}

section > h1 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #34495e;

  border-bottom: 5px solid #34495e;
  margin-bottom: 2rem;
}

section#modelos {
  background-image: linear-gradient(90deg, hsl(204, 70%, 63%), hsl(167, 40%, 65%));
}

section#ubicacion {
  padding: 0;
}

/* #endregion */


/* #region HOME */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url("../img/home.jpg") no-repeat center center fixed;
  background-size: cover;

  color: white;

  height: 100vh;
}

.home-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: hsl(210, 29%, 15%);
  opacity: 0.9;
  padding: 3rem;
}

.home-banner > h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

.home-banner > h3 {
  font-size: 1.5rem;
}

/* #endregion */


/* #region DESTACADOS */

.destacados-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 60px;
}

.destacado-info {
  flex: 1;
  text-align: center;
  padding: 2rem;
  background: white;
  box-shadow: 0 10px 8px rgba(95, 186, 167, 0.1);
  border-radius: 3px;
}

.destacado-info img {
  max-width: 100%;
}

.star-rating {
  color: gold;
  font-size: 1.5rem;
}

.clientes-comentarios {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comentario {
  display: flex;
  gap: 10px;
  padding: 15px;
  background-color: hsl(167, 40%, 85%);
  border-radius: 8px;
}

.cliente img {
  width: 40px;
  border-radius: 50%;
}

.cliente-mensaje {
  flex: 1;
  margin-bottom: 0.75rem;
}

.cliente-firma {
  font-style: italic;
  font-weight: 600;
}

/* #endregion */


/* #region MODELOS */

.card-container {
  display: flex;
}

.card {
  position: relative;
  padding: 20px;
  margin: 20px;
  background: #f5f7fa;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
}

.card img {
  width: 100%;
  border-radius: 3px;
}

.card h3 {
  margin-bottom:  10px;
  font-size: 1.5rem;
}

.card p {
  margin-bottom: 10px;
  color:#555
}

button.btn,
a.button-link {
  cursor: pointer;

  background-color: #34495e;
  color: #ffffff;
  font-size: 1.25rem;

  width: 100%;
  height: 42px;
  padding: 0 2rem;

  border: none;

  border-radius: 21px;
  transition: color 0.5s;
}

a.button-link {
  display: inline;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}

button.btn:hover,
a.button-link:hover {
  background-color: #5fbaa7;
}

/* #endregion */


/* #region GALERIA */

.galeria-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.galeria-img {
  max-width: 400px;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  object-fit: cover;
}

.galeria-overlay {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.galeria-overlay-img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

/* #endregion */


/* #region UBICACION */

.mapa-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
}

.mapa-container iframe {
  width: 100%;
  height: calc(100vh - 90px);
  border: 0;
}

.mapa-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);

  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  color: #000000;
  font-size: 18px;
}

.direccion {
  background-color: #f5f7fa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.direccion h3 {
  color:#34495e;
  text-transform: uppercase;
}

/* #endregion */


/* #region FOOTER */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #3498db;
  color:white;
  text-align: center;
  height: 50vh;
  padding: 6rem 3rem;
}

.contacto-container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

#contacto-form {
  width: 600px;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin-bottom: 1rem;
  padding: 8px;
  border: 1px solid #f5f7fa;
  border-radius: 3px;
}

/* #endregion */


/* #region BOTON IR ARRIBA */

#btn-ir-arriba {
  display: none;
  cursor: pointer;

  position: fixed;
  bottom: 20px;
  right: 20px;

  background: hsl(210, 29%, 29%);
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;

  box-shadow: 0px 12px 7px rgba(0, 0, 0, .1);
  transition: 300ms ease;
}

#btn-ir-arriba:hover {
  background: hsl(210, 29%, 24%);
  transform: translateY(-0.5rem);
}

#btn-ir-arriba svg {
  width: 25px;
  fill: none;
  stroke: white;
  stroke-width: 3px;
}

/* #endregion */
