section {
  scroll-margin-top: $size-header;
  padding: calc($size-header / 2) $size-header;

  > h1 {
    color: $color-primario;
    text-transform: uppercase;
    font-size: 2rem;
    border-bottom: 5px solid $color-primario;
    margin-bottom: 2rem;
  }

  &#modelos {
    background-image: linear-gradient(90deg, $color-secundario-light, $color-terciario-light);
  }

  &#ubicacion {
    padding: 0;
  }
}
