section {
  scroll-margin-top: var(--size-header);
  padding: calc(var(--size-header) / 2) var(--size-header);
}

section > h1 {
  color: var(--color-primario);
  text-transform: uppercase;
  font-size: 2rem;
  border-bottom: 5px solid var(--color-primario);
  margin-bottom: 2rem;
}

section#modelos {
  background-image: linear-gradient(90deg, var(--color-secundario-light), var(--color-terciario-light));
}

section#ubicacion {
  padding: 0;
}
